/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Arial';
  color: antiquewhite;
}

body {
  background-color: #E0BE3E;
}

/* #1f1147 */
